<div nz-row class="root-wrapper">
  <div nz-col nzSpan="6">
    <div nz-row class="header">
      <div nz-col nzSpan="12">
        <label>Type your config:</label>
      </div>
      <div nz-col nzSpan="12" class="text-align right">
        <button nz-button nzType="primary">Generate</button>
      </div>
    </div>
    <textarea
      nz-input
      [(ngModel)]="jsonObj"
      [nzAutosize]="{ minRows: 30 }"
      (ngModelChange)="onChange(jsonObj)"
    ></textarea>
  </div>
  <div nz-col nzSpan="18" class="preview-wrapper">
    <configurable-form></configurable-form>
  </div>
</div>
{{ jsonOption$ | async }}
