.root-wrapper {
  padding: 0 8px;
}

.header {
  padding: 4px 8px;
}

.text-align {
  &.right {
    text-align: right;
  }
}

.preview-wrapper {
  padding: 12px 24px;
}

.ant-layout-sider {
  background-color: white;
}
.mps-content {
  height: 700px;
}

.ant-layout-content {
  background-color: white;
}
