<!-- <div nz-row class="root-wrapper">
  <div nz-col nzSpan="6">
    <div nz-row class="header">
      <div nz-col nzSpan="12">
        <label>Type your config:</label>
      </div>
      <div nz-col nzSpan="12" class="text-align right">
        <button nz-button nzType="primary">Generate</button>
      </div>
    </div>
    <textarea
      nz-input
      [(ngModel)]="jsonObj"
      [nzAutosize]="{ minRows: 30 }"
      (ngModelChange)="onChange(jsonObj)"
    ></textarea>
  </div>
  <div nz-col nzSpan="18" class="preview-wrapper">
    <configurable-form></configurable-form>
  </div>
</div>
{{ jsonOption$ | async }} -->
<div class="root-wrapper">
  <nz-layout>
    <nz-sider style="{backgroundColor: 'white'}">
      <!-- <div
        id="drop1"
        draggable="true"
        (drop)="drop($event)"
        (dragover)="allowDrop($event)"
      >
        <span id="drag1" draggable="true" (dragstart)="drag($event)">
          Text Field
        </span>
        <div>Select Field</div>
      </div>
      <div
        class="drop-wrapper"
        id="drop1"
        (drop)="drop($event)"
        (dragover)="allowDrop($event)"
      ></div> -->
    </nz-sider>
    <nz-content class="mps-content">
      <form-designer></form-designer>
    </nz-content>
  </nz-layout>
</div>
