.mps-drop-root {
  background-color: #e2e2e2;
  margin: 8px;
}

.drop-insert-tip {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  // font-weight: bold;
  opacity: 0.67;
  padding: 24px;
}
