.mps-drop-component {
  height: 400px;
  padding: 16px;
  text-align: center;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  margin-bottom: 8px;
  &.drag-enter {
    outline: 2px dashed #1890ffff;
  }
}

.drop-insert-tip {
  height: 40px;
  background-color: red;
}
